<h1>List of users</h1>
<p-table
    class="table"
    [value]="users ?? []"
    [paginator]="true" [rows]="6" [rowsPerPageOptions]="[6, 10, 20]"
    [scrollable]="true"
    sortMode="single" sortField="user.name" groupRowsBy="user.name"
>
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr (click)="goToUser(user.id)">
            <ng-container *ngIf="user.name; else empty">
                <td>{{user.name}}</td>
                <td>
                    <img class="user-image" [src]="user.image" draggable="false" alt="">
                </td>
                <td class="-interactive">
                    <div class="action-buttons" (click)="$event.stopPropagation()">
                        <button (click)="seeUserAccount(user.id)" pButton class="account-btn p-button-info">See Account</button>
                        <button (click)="editUser(user.id)" pButton class="edit-btn">Edit</button>
                        <button (click)="deleteUser(user.id)" pButton class="delete-btn p-button-danger">Delete</button>
                    </div>
                </td>
            </ng-container>
            <ng-template #empty>
                <td><button pButton style="visibility: hidden;">&nbsp;</button></td>
                <td></td>
                <td></td>
            </ng-template>
        </tr>
    </ng-template>
</p-table>
<button type="button" class="create-user-btn round-btn pi pi-user" (click)="createUser()"></button>
