:host {
  position: fixed;
  margin: auto;
  inset: 0;
}

.overlay {
  width: 100%;
  height: 100%;

  display: flex;

  background-color: #0009;

  overflow: auto;

  > :first-child {
    margin: auto;
  }
}
