<h1>Edit Task</h1>

<div class="form">
    <span class="name" class="p-float-label">
        <input type="text" pInputText [(ngModel)]="task.title">
        <label for="float-input">Title</label>
    </span>
    <span class="email" class="p-float-label">
        <textarea type="email" pInputTextarea [(ngModel)]="task.description"></textarea>
        <label for="float-input">Description</label>
    </span>
    <h2>Images (optional)</h2>
    <div class="images">
        <div class="image" *ngFor="let img of task.images" class="image">
            <div tabindex="0" role="button" class="delete-img pi pi-times" (click)="deleteImage(img)"></div>
            <img draggable="false" [src]="img.src" alt>
        </div>
    </div>
    <button pButton class="add-image p-button-secondary" (click)="addImage()">Add Image</button>
    <button pButton class="submit p-button-success" (click)="editTask()">Submit Change</button>
</div>
