@charset "UTF-8";

:root {
  box-sizing: border-box;
}

*:not(:root),
*::before,
*::after {
  box-sizing: inherit;
}

:where(:not(:defined)) {
  display: block;
}


/* Remove all styles */
:where(a, button) {
  all: unset;
}


/* Normalize background-image */
* {
  background-repeat: no-repeat;
}


/*
  Avoid autocalculation of `min-width` and `min-height` properties
  of flex/grid items based on the intrinsic size of its content
*/
* {
  min-width: 0;
  min-height: 0;
}

/* Normalize flex-items behavior */
* {
  flex-shrink: 0;
}


:root {
  --fit-content: fit-content;
}

@supports (width: -moz-fit-content) {
  :root {
    --fit-content: -moz-fit-content;
  }
}



:root {
  background-color: #111;
  color: #fff;

  font-family: Arial;
  user-select: none;

  /* Remove highlight that appears on links or clickable elements on mobile */
  -webkit-tap-highlight-color: transparent;
}

* {
  user-select: inherit;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  overflow: hidden;
}

body, [data-id="app"] {
  background-color: inherit;
}

[data-id="app"], [data-id="app-content"] {
  position: relative;
  width: 100%;
  height: 100%;
}

[data-id="app-content"] {
  padding: 1rem;

  overflow: auto;
}


[hidden] {
  display: none !important;
}

a {
  cursor: pointer;
}

img, canvas, svg, picture,
video, audio,
iframe, object, embed,
input, select, textarea,
button,
progress, meter {
  display: block;
}

fieldset, blockquote, figure {
  margin: 0;
}

fieldset {
  padding: 0.6rem 0.8rem;
  border: solid 2px #c0c0c0;
}

legend {
  border: none;
  padding: 0.3em;
}

iframe {
  border: none;
}

source {
  display: none;
}

hr {
  border: none;
  background-color: #ccc;
  height: 0.2em;
  margin: 0.5em auto;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

td,
details, summary,
span, a,
blockquote, q, cite,
address
li, dt, dd,
dfn,
ruby,
abbr,
bdi, bdo,
data, time,
figcaption,
p, h1, h2, h3, h4, h5, h6,
u, s,
samp,
b, strong, i, em, mark, small, ins, del, sub, sup,
pre, code, var, kbd, output {
  user-select: text;
}


[data-id="app-content"] {
  padding: 0;
}

app-root {
  width: 100%;
  height: 100%;

  display: flex;
}

app-root > * {
  flex-grow: 1;
  flex-shrink: 1;
  align-self: stretch;

  overflow: auto;
}




p-table {
  border-radius: 6px;

  overflow: hidden;

  &, * {
    user-select: none;
  }

  tr:hover:not(:has(> td:nth-child(2):empty)):not(:has(> td.-interactive > :hover)),
  tr:active:not(:has(> td:nth-child(2):empty)):not(:has(> td.-interactive > :hover)) {
    background-color: #333 !important;
  }

  tr:active:not(:has(> td:nth-child(2):empty)):not(:has(> td.-interactive > :hover)) {
    background-color: #121212 !important;
  }

  p-paginator {

    > :first-child {
      border: none !important;

      > p-dropdown {

        > :first-child {
          align-items: center;

          > p-overlay {

            > :first-child {
              top: 0 !important;
              left: 0 !important;
              transform: translateX(100%) translateY(-100%);
            }
          }
        }
      }
    }
  }
}


.round-btn {
  border-radius: 50%;
  padding: 1em;

  background-color: #333;

  transition: background-color 0.4s, box-shadow 0.4s;
  transition-delay: 0.01s;

  &:hover, &:active {
    background-color: #555;
  }

  &:active {
    background-color: #111;
    box-shadow: 0 0 0px 6px #fff2;

    transition: background-color 0s, box-shadow 0.1s;
    transition-delay: 0s;
  }
}

p-dialog .p-dialog-mask > [role="dialog"] {
  max-width: 80%;
}
